{% set drupal = salt['grains.filter_by']({
    'default': {
        'database': 'sqlite',
        'doc_root': '/var/www/drupal',
        'user': 'www-data',
        'version': '7.36',
        'db_host': 'localhost',
        'db_name': 'drupal',
        'db_user': 'drupal',
        'db_pass': 'overwrite-with-pillar',
        'salt': 'DJgK4Bc2go4eEni30Ypo5okavcIV6VC7UIDlKavMsxs',
        'external_lib': ['spyc'],
        'modules': ['ctools','admin_menu','libraries','views*','entity','og','oauth_common','feeds*','services_views','backup_migrate','color','comment','contextual','dashboard','dblog','field*','help','menu','module_filter','overlay','path','rdf','relation*','job_scheduler','xmlrpc_server','rest_server', 'views_bulk_operations', 'custom_search'],
    },
}, merge=salt['pillar.get']('drupal:lookup')) %}


